.picture {
	width: 25%;
}
img {
	position: absolute;
}
.top {
	z-index: 1;
}
.bottom {
	z-index: 3;
}
.date {
}
.timer {
	float: right;
}
.table {
	float: right;
}
table, th, td {
   border: 1px solid black;
}
table {
	border-collapse: collapse;
}
.td {
	width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}