body {
	background-color: #9db2c2;
}
.scaffold {
	display: block;
	visibility: hidden;
	width: 0;
}
.picture img {
	position: absolute;
	left: 0;
	right: 0;
	margin:auto;
	border: 1px solid black;
	height:auto;
}
.top {
	z-index: 2;
}
.bottom {
	z-index: 3;
}
.date {
}
.timer {
	margin: auto;
}
.tableDiv {
	flex-grow:1;
}
table, th, td {
   border: 1px solid black;
}
td:hover {
	cursor: pointer;
	background-color: silver;
}
table {
	border-collapse: collapse;
}
.td {
	width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wrapper {
	width: 70%;
	height: auto;
	margin: auto;
	background-color:white;
	border-radius:10px;
	display:flex;
	flex-flow:row;
	padding:10px;
}
.controls {
	text-align: center;
}
.fetcher {
	margin: auto;
	border: 1px solid black;
	margin-top: 15px;
	border-radius: 10px;
}
.fetcher span {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}
