body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.picture {
	width: 100%;
}
img {
	position: absolute;
	left: 0;
	right: 0;
	margin:auto;
	border: 1px solid #ddd;
}
.top {
	z-index: 2;
}
.bottom {
	z-index: 3;
}
.date {
}
.timer {
	float: right;
}
.tableDiv {
	
}
th {
	background-color: #4CAF50;
	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
}
table, th, td {
   border: 1px solid #ddd;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
	}
tr:hover {
	background-color: #ddd;
}
td {
	cursor: pointer;
}
table {
	border-collapse: collapse;
	width: auto;
}
.td {
	width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
	padding: 8px;
}
.wrapper {
	width: 50%;
	height: 100%;
	margin: auto;
}
.controls {
	text-align: center;
}
.interval{
	width: auto;
}
.iform {
	display: inline-block;
}
